<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      internalLogLevel="Error" throwExceptions="false"
      internalLogFile="NLogInternal.log">
  <extensions>
    <add assembly="ICM.Common"/>
  </extensions>
  <targets>
		<target name="f1" xsi:type="File"
		        layout="${var:ICM_SERVICENAME} ${var:HOSTNAME} ${date:format=yyyy/MM/dd HH\:mm\:ss.fff} ${level} [${callsite:className=true:includeSourcePath=false:methodName=true}] ${message}"
		        fileName="${basedir}/logs/${var:ICM_SERVICENAME}.${date:format=yyyyMMdd}.log"
		        archiveFileName="${basedir}/logs/${var:ServiceName}.{#}.zip"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        archiveDateFormat="yyyyMMdd"
		        maxArchiveFiles="30"
		        enableArchiveFileCompression="True" />
		<target name="console" xsi:type="ColoredConsole"
		        layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}"/>
    <target name="kafka" xsi:type="Kafka"
           topic="log.formatsupervisor"
           layout="${var:ICM_SERVICENAME} ${var:HOSTNAME} ${date:format=yyyy/MM/dd HH\:mm\:ss} ${message}">
      <broker address="localhost:9092"/>
    </target>  
  </targets>

	<rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="kafka" />
    <logger name="*" minlevel="Debug" writeTo="f1" />
	</rules>
</nlog>